/*
Colors used:
Primary Color (Blue): #4671dd;
Secondary Color (Light Blue): #d3eaff;
Black: #252525;
Grey: #cccccc;
White: #ffffff;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #252525;
}

header {
  color: transparent;
  background-color: #4671dd;
  padding: 10px 0 4px;
  -webkit-box-shadow: 0 3px 4px 0 rgba(50, 50, 50, 0.62);
  -moz-box-shadow: 0 3px 4px 0 rgba(50, 50, 50, 0.62);
  box-shadow: 0 3px 4px 0 rgba(50, 50, 50, 0.62);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 69px;
}

.logo {
  max-height: 64.88px;
  max-width: 150px;
}

h1,
h2,
h3 {
  line-height: 1.4;
}

h1 {
  font-size: 1.4em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

.heading-centered {
  text-align: center;
}

img {
  width: 100%;
}

a {
  color: #4671dd;
  text-decoration: none;
  transition: 0.2s color;
}

a:hover,
a:focus {
  color: #252525;
}

a:active {
  color: #252525;
}

.button {
  display: inline-block;
  background-color: #4671dd;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #4671dd;
  transition: 0.2s color, 0.2s background-color;
}

.button.coming-soon {
  background-color: #a4a4a4 !important;
  color: #fff !important;
  border: none !important;
}

.button:hover {
  color: #4671dd;
  background-color: #fff;
  text-decoration: none;
}

.button.contact {
  width: auto;
  background-color: transparent;
  color: #4671dd;
  text-transform: uppercase;
  border: 2px solid #4671dd;
}

.button.contact:hover {
  background-color: #4671dd;
  color: #fff;
}

.centered-button {
  text-align: center;
}

.fab.fa-behance-square {
  font-size: 45px;
}

html {
  scroll-behavior: smooth;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

#my-work .row {
  margin: 25px auto;
  padding-bottom: 25px;
  max-width: 900px;
  border-bottom: 1px solid #252525;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  transition: 0.2s padding;
}

nav>ul>li>a:hover {
  color: #fff;
  text-decoration: none;
  padding-right: 18px;
}

#hero>.container>h1 {
  padding-bottom: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 9px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding-top: 24px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

#hero {
  text-align: center;
  background-color: #d3eaff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero p {
  font-weight: 500;
}

#hero span {
  display: block;
  font-size: 1em;
}

#contact {
  text-align: center;
}

#contact-section {
  padding-bottom: 25px;
}

#social-media-section {
  padding-top: 25px;
}

#copyright {
  font-size: 12px;
}

#my-story {
  padding-bottom: 75px;
}

#skills {
  padding-bottom: 25px;
}

#my-process {
  padding-bottom: 25px;
}

#soundkord-process h1 {
  text-align: center;
}

.col-lg-5.extra {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 15s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 40s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    padding: 20px 0 10px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    min-width: 200px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 18px;
  }

  main {
    padding-top: 101.88px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .container.header {
    max-width: 1750px;
    margin-left: auto;
    margin-right: auto;
  }

  .container h1 {
    font-size: 25px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-lg-5.extra {
    float: none;
  }

  .centered-button {
    float: left;
  }

  .centered-button.recenter {
    float: none;
  }

  nav>ul>li {
    display: inline-block;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #selfie {
    display: block;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #skills-and-tools {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #soundkord-process {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 70%;
  }

  .col-lg-7 {
    width: 55%;
  }

  .col-lg-5 {
    width: 45%;
  }

  .col-lg-5.extra {
    float: left;
  }

  #hero span {
    padding-top: 5px;
  }

  #hero h1 {
    padding-bottom: 15px;
  }

  #selfie {
    max-width: 640px;
  }

  #skills {
    float: none;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }

  #tools {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #soundkord-process {
    max-width: 60%;
  }
}
